@if (Context.User.Identity.IsAuthenticated == false)
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-controller="Managed" asp-action="Login">Login</a>
	</li>
}
else
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-controller="Managed" asp-action="Logout">Logout</a>
	</li>
}
